<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>Menu</title>
    <style>
	input[type=text] {
   		width:200px;
	}
	input[type=integer] {
   		width:200px;
	}
    </style>
</head>
<body>
    <div class="span">
	<h1>Menu</h1>
	<hr>
	<form action="/missions/menu/" method='post'>
	    {% csrf_token %}
	    {{ form.as_p }}
	    <hr>
	    <input type='submit' value='Start' />
	</form>
    </div>
</body>
</html>
