<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>Menu</title>
</head>
<body>
    <div class="span">
	<h1>Menu</h1>
	<hr>
	<h2>Маска: </h2><link>https://yadi.sk/d/69k86bcFOc1i2g</link>
	<hr>
	<h2>Охотники за привидениями: </h2><link>https://yadi.sk/d/cVzQdDTzOwUK4Q</link>
	<hr>
	<form action="/missions/menu/" method='post'>
	    {% csrf_token %}
	    {{ form.as_p }}
	    <hr>
	    <input type='submit' value='Start' />
	</form>
    </div>
</body>
</html>
